.img_5 {
    
    display: flex;
    position: relative;
    top:20px;
    width: 60px;
    height: 30px;
    background: url($pic05);
    background-repeat: no-repeat;
    

}

.img_6 {
    display: flex;
    width: 60px;
    height: 60px;
    background: url($pic06);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}

.img_7 {
    display: flex;
    width: 60px;
    height: 60px;
    background: url($pic07);
    background-position: center;
    background-repeat: no-repeat;
  background-size: contain;}
