main{
    margin: 40px auto;
   
   
    
.art_1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:350px;
    background: url($pic01);
    background-size: cover ;
    background-position: center;


    
.content{
  max-width:530px;
  color:white;
  padding: 20px;
  font-size: clamp(1.5em, 3vw, 2.2em);
  font-weight: 800;
  text-align:center;

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  
}

input {
    margin-top: 20px;
    outline: none;
    padding: 6px;
    font-size: 0.4em;
    font-style: italic;
    min-height: 20px;
    width: 270px;
    border-radius: 3px;
    user-select: none;
    border:none;
}//input
   
button{
    margin-top: 20px;
      height: 30px;
      width:100px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      font-size: 0.4em;
      color: white;
      background: $btn;
   }
  }//.cont
 }//art_1
 .art_2{
     background: $header-color;
     display: flex;
     justify-content: center;
     min-height: 300px;
     gap: 50px;
     padding: 20px;
     font-size: clamp(.9em, 3vw, 1.2em);
    
  

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    min-height:100px ;
   
}
<<<<<<< HEAD

=======
>>>>>>> 20b8609016bf529bd77fef1c63e72f256999c84e

h3{
    
    text-align: center;
    font-style: bold;

    }
p{
    text-align: center;
    font-size: 0.8em;
    opacity: 0.5;
    line-height: 22px;
  
    
}


  
 }//art_2
 .art_3{
     display:flex;
     min-height: 300px;
.text{
    display: flex;
    justify-content: center;
    gap:10px;
    max-width: 50%;
    background-color: white;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: auto;
        padding: 30px;
       text-align: left;
      }
 
p, h3{
    display: flex;
    justify-content: left;
    line-height: 25px;
}
p{
    font-size: clamp(0.9em, 1.2vw, 1.2em);
    opacity: 0.5;
    }

h3{
    font-size: clamp(1.5em, 2vw, 1.8em);
}
}//art3

.art_4 {
    display: flex;
    flex-direction: row-reverse;
    min-height: 300px;

    .text {
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 50%;
        background-color: white;
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: auto;
        padding: 30px;
        text-align: left;
    }

    p,
    h3 {
        display: flex;
        justify-content: left;
        line-height: 25px;
    }

    p {
        font-size: clamp(0.9em, 1.2vw, 1.2em);
        opacity: 0.5;
    }
    
    h3 {
        font-size: clamp(1.5em, 2vw, 1.8em);
    }
}//art_4
.art_5 {
    display: flex;
    min-height: 300px;

    .text {
        display: flex;
        justify-content: center;
        gap: 10px;
        max-width: 50%;
        background-color: white;
    
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: auto;
        padding: 30px;
        text-align:left;
    
    }

    p,
    h3 {
        display: flex;
        justify-content: left;
        line-height: 25px;
    }

    p {
        font-size: clamp(0.9em, 1.2vw, 1.2em);
        opacity: 0.5;
    }
    
    h3 {
        font-size: clamp(1.5em, 2vw, 1.8em);
    }
}//art_5
.art_6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: $header-color;
    min-height:400px;
    font-size: clamp(.9em, 3vw, 1.2em);
   
  

    h3{
        max-width: 100%;
        margin-bottom: 30px;
    }
   

.comments{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:30px;
    


}
div.comments{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    max-width:1000px;
  
}
    
    
    h3 {
       margin-top: 20px;
        text-align: center;
        font-style: bold;

    }

    p {
        max-width: 300px;
        text-align: center;
        margin-top: 10px;
        font-size: 0.8em;
        opacity: 0.5;
    }   


    }//art_6
.art_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background: url($pic01);
    background-size: cover;
    background-position: center;



    .content {
        max-width: 530px;
        color: white;
        padding: 20px;
        font-size: clamp(1.5em, 3vw, 2.2em);
        font-weight: 800;
        text-align: center;
    }

        section {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;

        }

        input {
            margin-top: 20px;
            outline: none;
            padding: 6px;
            font-size: 0.4em;
            font-style: italic;
            width: 270px;
            min-height: 20px;
            border-radius: 3px;
            user-select: none;
            border: none;
        }

      

        button {
            margin-top: 20px;
            height: 30px;
            width: 100px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            font-size: 0.4em;
            color: white;
            background: $btn;
        }
    

    }//art_7

footer{
background: $header-color;
display: flex;
min-height:150px;
justify-content: space-around;
align-items: center;

article {
    display: flex;
    justify-content: space-around;
    min-width:150px;
    padding: 30px;
    
    
}

nav{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    gap:10px;
    padding: 20px;
    max-width: 600px;
    
}
    
a{
    text-decoration: none;
    font-size: clamp(1em, 3vw, 1.3em);
    color: $btn;
   
}
p{
    font-size: 0.8em;
    opacity: 0.5;
}
}//footer
}//main



 
